# Log file
*.log

# Package Files #
*.log.gz
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# java related things
hs_err_pid*
*.class
/bin/

# gradle related things
/build/
/.gradle
/.gradle/*
.gradle

# minecraft related things
options.txt
usernamecache.json
/logs/
/crash-reports/
/saves/
/config/

# intellij related things
.idea/dictionaries/*

# other stuff
eclipse/
eclipse/*
out/
out/*
*.iml
*.ipr
*.iws

