.gradle/
eclipse/
.settings/
.classpath
.project
bin/
out/
libs/gregtech*
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
CoreMod.iml
CoreMod.ipr
CoreMod.iws
Idea.bat
SetupDevWorkspaces.bat
*.iml
*.ipr
*.iws
*.bat
.idea/workspace.xml
*.db
*.log
.idea/
\.directory
asm/
config/
saves/
usernamecache.json
PlayerCache.dat
GregTech.cfg
options.txt
GregTech.lang
mods/
classes/
logs/
libs/AsieLib-1.7.10-0.4.9-deobf.jar
libs/Computronics-1.7.10-1.6.6-deobf.jar
libs/Galacticraft-API-1.7-3.0.12.504.jar
libs/GTNewHorizonsCoreMod-1.7.10-1.6.10.jar
libs/MicdoodleCore-1.7-3.0.12.504.jar
libs/worldedit-forge-mc1.7.10-6.1.1-dist.jar
