.gradle/
eclipse/
.settings/
.classpath
.project
bin/
out/
libs/gregtech*
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
CoreMod.iml
CoreMod.ipr
CoreMod.iws
Idea.bat
SetupDevWorkspaces.bat
*.iml
*.ipr
*.iws
*.bat
.idea/workspace.xml
*.db
*.log
.idea/
\.directory
asm/
config/
saves/
usernamecache.json
PlayerCache.dat
GregTech.cfg
options.txt
GregTech.lang
mods/
classes/
logs/
