# Generated via Git Changelog Gradle plugin for Curse/CurseForge
<br />
<br />
{{#tags}}
<br />
{{#commits}}
<p>
[{{hash}}] | {{authorName}} | {{commitTime}}
<br />
{{{messageTitle}}}
<br />
{{#messageBodyItems}}
{{.}}
{{/messageBodyItems}}
</p>
  {{/commits}}
<br />
{{/tags}}