# Generated via Git Changelog Gradle plugin

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
### {{name}} [{{issue}}]({{link}}) {{title}}
   {{/hasLink}}
   {{^hasLink}}
### {{name}} {{issue}} {{title}}
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
### {{name}}
  {{/hasIssue}}

  {{#commits}}
[{{hash}}] | {{authorName}} | {{commitTime}}
```
{{{messageTitle}}}
{{#messageBodyItems}}
{{.}} 
{{/messageBodyItems}}
```
  {{/commits}}

 {{/issues}}
{{/tags}}