# Generated via Git Changelog Gradle plugin

# Legend
# (+) - Addition
# (-) - Removal
# (%) - Change
# ($) - Fix
# (^) - Update

{{#commits}}

[{{hash}}] | {{authorName}} | {{commitTime}}
{{{messageTitle}}}
{{#messageBodyItems}}
{{.}} 
{{/messageBodyItems}}
{{/commits}}