#CodeChickenLib development configuration file.

dump_asm=true

#Path to directory holding packaged.srg, fields.csv and methods.csv for mcp remapping
mappingDir=C:\Users\Kekzdealer\.gradle\caches\minecraft\net\minecraftforge\forge\1.7.10-10.13.4.1614-1.7.10\unpacked\conf

textify=true
