#CodeChickenLib development configuration file.

dump_asm=true

#Path to directory holding packaged.srg, fields.csv and methods.csv for mcp remapping
mappingDir=C:\eclipse\AlkalusCraft\mcp908\conf

textify=true
