# Configuration file

disablelaserdrillores {
    B:Adamantium_false=false
    B:Alduorite_false=false
    B:Cadmium_false=false
    B:Chrome_false=false
    B:Cobalt_false=false
    B:DarkIron_false=false
    B:Indium_false=false
    B:Magnesium_false=false
    B:Mithril_false=false
    B:Naquadria_false=false
    B:Nikolite_false=false
    B:Rutile_false=false
    B:Silicon_false=false
    B:Tungsten_false=false
}


general {
    B:enablePerItemSettings_false=false
}


globalcomponents {
    B:enableUnusedArrowHeads_false=false
    B:enableUnusedBolts_false=false
    B:enableUnusedCrates_false=false
    B:enableUnusedDensePlates_false=false
    B:enableUnusedDoubleIngots_false=false
    B:enableUnusedDoublePlates_false=false
    B:enableUnusedFineWires_false=false
    B:enableUnusedFoil_false=false
    B:enableUnusedGears_false=false
    B:enableUnusedGems_false=false
    B:enableUnusedLongRods_false=false
    B:enableUnusedPlates_false=false
    B:enableUnusedQuadIngots_false=false
    B:enableUnusedQuadPlates_false=false
    B:enableUnusedQuinIngots_false=false
    B:enableUnusedQuinPlates_false=false
    B:enableUnusedRings_false=false
    B:enableUnusedRods_false=false
    B:enableUnusedRotors_false=false
    B:enableUnusedRounds_false=false
    B:enableUnusedScrews_false=false
    B:enableUnusedSmallGears_false=false
    B:enableUnusedSmallSprings_false=false
    B:enableUnusedSprings_false=false
    B:enableUnusedTripleIngots_false=false
    B:enableUnusedTriplePlates_false=false
}


